@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    text-decoration: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../bg.jpg) no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 7px rgb(45, 146, 230);
}

a {
    margin: 10px;
}

button {
    width: 200px;
    height: 70px;
    background-color: rgb(45, 146, 230);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    display: block;
    
}

button:hover {
    background-color: rgb(47, 118, 177);
    transition: 0.4s;
}

div {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}